#background{
background: url(ornament.jpg);
}
#Shapkasaita{
	border: 1px solid black;
background:#fff129;
text-align:left;
font:courier 39px/48px sans-serif;
height:auto;
line-height:100px;
max-height:200px;
}
*{
margin:auto;
padding:0;
outline:none;
}

#links{
	border: 1px solid black;
	margin: auto;
background: #00e6ff;
max-width:600px;
margin-top:15px;
margin-bottom:15px;
padding:30px;
padding-left: 17pt;
}

#vip{
  width: 300px;
  border: 1px solid #00e6ff;
  border-collapse: collapse;
  border-spacing: 0;
  text-align:center;
  margin: auto;
  }
  #vip th{
  background: #e0f7ff;
  color: white;
  padding: 4px;
  }
  #vip td{
   border-bottom: 1px solid black;
   padding: 4px;
   }
   #caption{
    caption-side: top;
	text-align: center;
	padding: 10 px 0;
	font-size: 14px;
	background:#fff129;
	
	}
	tr:nth-child(even){
	background: #ff6952;
	}
	tr:nth-child(odd){
	background: #ffbb00;
	}
   
  
  